<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="ArcBlock, blocklet" />
    <meta name="description" content="blocklet-react-umijs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Loading…</title>
    <link rel="icon" href="<%= context.config.publicPath +'logo.svg'%>" type="image/x-icon" />
    <script src="./__meta__.js"></script>

</head>

<body>
    <script>
        // While the blocklet is deploy to a sub path, this will be work properly.
        window.publicPath = window?.blocklet?.prefix || './';
        window.routerBase = window?.blocklet?.prefix || '/';
    </script>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <noscript>Blocklet umijs!</noscript>
    <div id="<%= context.config.mountElementId %>" style="height: 100%;">
        <style>
            html,
            body,
            #root {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #root {
                /* background-image: url('<%= context.config.publicPath +"home_bg.png"%>'); */
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            .anim-opacity {
                animation: fade 2500ms infinite;
            }

            @keyframes fade {
                from {
                    opacity: 1;
                }

                50% {
                    opacity: 0.1;
                }

                to {
                    opacity: 1;
                }
            }
        </style>
        <div style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 80vh;
          color: white;
          font-family: fantasy;
          font-size: 14px; 
          font-weight: bold;
        ">
            <div style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgb(3, 21, 41);
                animation: fade 2000ms infinite;
                border-radius: 4px;
                width: 240px;
                height: 240px;
                ">
                <img id="logo" src="<%= context.config.publicPath +'logo.svg'%>" alt="logo" width="120" />
                <div style="margin-top: 12px; ">Loading...</div>
            </div>

        </div>
    </div>
</body>

</html>